AWS_ACCESS_KEY_ID=<set-in-secret-manager>
AWS_SECRET_ACCESS_KEY=<set-in-secret-manager>
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=gphi-docking-public
AWS_S3_PUBLIC_URL=https://gphi-docking-public.s3.ap-southeast-1.amazonaws.com
AWS_S3_SIGNED_URL_EXPIRES_SECONDS=3600
